body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100vh;
}

/* Поле введення імені */
#user-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    background: white; /* Білий фон, щоб було видно */
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Щоб було поверх карти */
}


#username {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стилі кнопок */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
