body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100vh;
}

/* Поле введення імені */
#user-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

#username {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стилі кнопок */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
